version: '2'

services:
  postgres:
    image: postgres:9.5
    environment:
      - "POSTGRES_USER=designator"
      - "POSTGRES_PASSWORD=designator"

  designator:
    build: ./
    volumes:
      - ./:/app
      - build_cache:/app/_build
    ports:
      - "4000:80"
    environment:
      - "MIX_ENV=dev"
      - "PORT=80"
      - "POSTGRES_USER=designator"
      - "POSTGRES_PASS=designator"
      - "POSTGRES_HOST=pg"
      - "SECRET_KEY_BASE=secret"
      - "DESIGNATOR_AUTH_USERNAME=username"
      - "DESIGNATOR_AUTH_PASSWORD=password"
    links:
      - postgres:pg

volumes:
    build_cache:
