apiVersion: apps/v1
kind: Deployment
metadata:
  name: designator-staging-app
  labels:
    app: designator-staging-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: designator-staging-app
  template:
    metadata:
      labels:
        app: designator-staging-app
    spec:
      containers:
        - name: designator-staging-app
          image: ghcr.io/zooniverse/designator:__IMAGE_TAG__
          resources:
            requests:
              memory: "100Mi"
              cpu: "10m"
            limits:
              memory: "200Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
          env:
            - name: MIX_ENV
              value: prod
            - name: PORT
              value: "80"
            - name: POSTGRES_USER
              value: cellect_ex@zooniverse-staging-v11
            - name: POSTGRES_DB
              value: panoptes_staging
            - name: POSTGRES_POOL_SIZE
              value: "2"
            - name: DESIGNATOR_AUTH_USERNAME
              value: staging
            - name: DESIGNATOR_AUTH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: designator-staging-env
                  key: DESIGNATOR_AUTH_PASSWORD
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: designator-staging-env
                  key: SECRET_KEY_BASE
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: designator-staging-env
                  key: POSTGRES_HOST
            - name: POSTGRES_PASS
              valueFrom:
                secretKeyRef:
                  name: designator-staging-env
                  key: POSTGRES_PASS
            - name: ROLLBAR_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: designator-staging-env
                  key: ROLLBAR_ACCESS_TOKEN
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: designator-staging-app
spec:
  selector:
    app: designator-staging-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
